#root {
  margin: 0 auto;
}

body{
  background-color: var(--background-color);
  color: var(--text-color)
}

#tsparticles {
  position: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 769px){
  #navbar-sm {
    display: none;
    background-color: var(--primary-color);
  }
}

@media screen and (max-width: 769px){
  #navbar-large {
    display: none;
    
  }
  .card:first-child{
    grid-column: 1/2 !important;
  }
  .card:last-child{
    grid-column: 2/3 !important;
  }
}

#navbar-large {
  margin: 10px 20px;
  border-radius: 30px;
  background-color: var(--primary-color);
  padding: 20px 0;
}

.navbar-toggler {
  background-color: transparent !important;
  border-color: transparent !important;
  outline: 0 !important;
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 !important;
  border: none;
}

.navbar-collapse {
  justify-content: center;
}

.navbar-brand {
  font-size: 24px;
  color: var(--secondary-color);
}

#responsive-navbar-nav-sm {
  margin: 20px 0;
  border-radius: 10px;
  padding: 20px;
  width: 100vw;
  background-color: var(--primary-color);
}

.nav-item {
  font-size: 14px;
  font-weight: 800;
}

.nav-link {
  color: var(--white-text-color)
}

.nav-link.active {
  color: var(--link-color) !important;
}

.card {
  max-width: 400px;
  border-radius: 20px;
  height: 70vh;
  background: rgba( 255, 255, 255, 0.1 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 612px){
  .card:last-child{
    grid-column: 1/2 !important;
  }
}

.card-header {
  font-size: 30px;
  color: var(--black-text-color)
}

.Orange, .Orange.Orange {
  background: var(--primary-color);
  color: var(--white-text-color)
}

.Orange > .card-header {
  color: var(--white-text-color) !important;
}

.card-body {
  position: relative;
  perspective: 1000px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.card-img {
  margin: 0 0 -1px 0;
  border-radius: 30px 30px 9px 9px;
  object-fit: cover;
  height: 300px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

@media screen and (max-width: 500px){
  .card-img {
    height: 280px;
  }
}

.card-body::before,
.card-body::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./assets/Thumbnail.png');
  background-size: contain;
  filter: blur(1px); /* Adjust the blur amount as needed */
  transform: translateY(100px); /* Adjust the Z translation for depth */
  opacity: 0.4; /* Adjust the opacity as needed */
  border-radius: 30px 30px 9px 9px;
  width: 380px;
}

.card-body::before {
  transform: translateY(70px); /* Adjust the Z translation for the second layer */
  opacity: 0.3; /* Adjust the opacity as needed */
  width: 320px;
}

.carousel {
  margin: 30px 0 0 0;
  width: 100%;
  height: fit-content;
}

.carousel-item {
  border: 10px solid whitesmoke;
  border-radius: 30px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-image: url('./assets/right-arrow.svg');
  background-color: var(--primary-color);
  border: 5px solid whitesmoke;
  padding: 20px;
  border-radius: 30px;
}

.carousel-control-prev-icon {
  background-image: url('./assets/left-arrow.svg');
}

.card-title {
  margin: 20px 0;
}

ol{
  color: var(--inverted-text-color);
  padding: 0;
  margin: 10px 0 0 0;
}

li {
  list-style: none;
  margin: 3px 0 20px 0;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}