:root {
    --background-color: #fdfdfd;
    --primary-color: #0f172a;
    --secondary-color: #0ea5e9;
    --text-color: #000f0e;
    --link-color: #4f46e5;
    --inverted-text-color: #fdfdfd;
    --hero-bg-color: #64748b;    
    --inverted-hero-bg-color: #e5e5e5;
    --black-text-color: #010101;
    --white-text-color: #f1f1f1;

}

[data-theme="dark"] {
    --background-color: #121212;
    --primary-color: #fdfdfd;
    --secondary-color: #282828;
    --text-color: #fdfdfd;
    --link-color: #4f46e5;
    --hero-bg-color: #282828;    
    --inverted-text-color: #1e293b;
    --inverted-hero-bg-color: #252525;
    --black-text-color: #f1f1f1;
    --white-text-color: #010101;


}

* {
    /* transition: all 0.3s ease-in-out; */
    font-family: 'Rubik', sans-serif;
}